h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald', sans-serif
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

#navbar a {
    margin-left: 75px;
    margin-right: 75px;
}
body {
    font-family: 'Open Sans', sans-serif

}
body {
    color: yellow
}

body {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 950px;
}

.left {
    float:left;
    width: 300px;
    padding: 1em;
}

.right {
    float: right;
    width: 300px;
    padding: 1em;
}

.center {
    margin-left: 300px;
    margin-right: 300px;
    padding: 1em;
}

body {
    background-color: black;
}

img {
    float: left;
    margin-right: 10px;
}